{{- if .Values.indexFile }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "demo-app.fullname" . }}-config
  labels:
    {{- include "demo-app.labels" . | nindent 4 }}
data:
  index.html: |
{{ .Files.Get .Values.indexFile | indent 4 }}
{{- end }}